@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(33, 33, 33);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: whitesmoke;
}
body {
width: 100%;

}

nav ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    
}

.menu{
    /* border: 5px solid rgb(255, 0, 98); */
    background-image: url(../media/img/backgroundimg5.png);
    background-repeat: repeat-y;
    background-size: contain;
    /* width: 100%; */
}
.navBar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* grid-auto-rows: 40vw; */
    align-items: center;
    width: 100%;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: 3vh;
    border-radius: 10px;
    border: 0;
    padding: 2vh;
    color: whitesmoke;
    overflow: hidden ; */
}
.imgAccueil img{
    /* border: 1px solid rgb(255, 0, 98); */
    width: 100%;
    align-items: center;
}

h1{
    font-family: 'Nosifer', cursive;
    text-align: center;
    font-size: 60px;
    padding: 100px;
}

.item1{
    /* width: 100%; */
    /* border: 1px solid rgb(145, 255, 0); */
    background-image: url(../media/img/backgroundimg.png);
    background-repeat: repeat-y;
    background-size: contain;
    width: 100%;
    /* align-content: center;
    align-items: center; */
}
.item1 img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 750px;
}
/* .menu li, .dashboard li{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
} */
/* img{
display: block;
} */
.logo{

    grid-column: 1 / 2;

}
.logo img{
    display: block;
    /* border: 1px solid rgb(0, 255, 106); */
    margin: auto;
}
.logo a{
    padding: 0;
}
.nosService{
    /* border: 1px solid rgb(212, 0, 255); */
    grid-column: 2 / 4;
}
.dashboard{
    /* border: 1px solid rgb(212, 0, 255); */
    grid-column: 4/ 5;
}
.btn-burger{
    /* border: 1px solid rgb(212, 0, 255); */
    grid-column: 4 / 5;
    display: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nosService ul{
    display: flex;
    justify-content: space-between;
}
.dashboard ul{
    display: flex;
    justify-content: space-evenly;
}
/* .miniScreen{
    display: flex;
    align-items: center;
}
.menu nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
} */
.navbar__link a:hover {
    color: whitesmoke;
    background: rgb(0, 0, 0, 0.5);
    background-color:  rgb(218, 211, 211);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    border-radius: 10px;

}
.empty-horizon {
    height: 4px;
    background-color: rgb(243, 224, 224);
}

.btn-burger img {
    width: 5vh;
    /* display: none; */
}
/* .logo img{
    border: 1px solid rgb(255, 0, 98);
    width: 100%;
    padding-top: 30px;
} */

.item2 form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
    /* grid-gap: 1rem;
    padding: 1rem; */
    /* grid-auto-rows: 40vw; */
}
.itemA, .itemB, .itemC, .itemD, .itemE{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.itemA, .itemB{
    grid-row: 1 / 2;
}
.itemC{
    grid-column: 1 /-1;
    grid-row: 2 /3;
}
.itemD{
    grid-column: 1 /-1;
    grid-row: 3 /4;
}
.itemE{
    grid-column: 1 /-1;

}
/* .item2 textarea{
    font-size: 30pt;
} */
.btn-burger{
border: none;
}
.btn{
    /* border: 1px solid rgb(140, 255, 0); */
    grid-column: 1 /-1;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 2vh;
    /* height: fit-content;
    width: 100px; */
    /* color: whitesmoke; */
    overflow: hidden ;
    margin-bottom: 100px;
    text-align: center; 
}
.btn:hover{
    background-color:  rgb(33, 33, 33);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}
.item2 input{
    font-size: 25pt;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000;
    text-transform: uppercase;
    /* background-color: #0D0D0D; */
    background-color: rgba(0,0,0, 0.5);
}
.btn input{
    text-align: center;
    padding: 2vh 6vh;
    font-size: 4vh;
    text-transform: uppercase;
    background-color: rgba(0,0,0, 0.5);
    color: whitesmoke;
}
label{
    padding: 2vh;
}
textarea{
    border-radius: 10px;
    font-size: 25pt;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border: 1px solid #000;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #0D0D0D;

}
#bouttonverhaut {
    float: right;
}
.footer{
    /* border: 1px solid rgb(140, 255, 0); */
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 1rem;
    padding: 1rem; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    /* width: fit-content; */
    font-size: 20px;
    align-items: center;
    width: 100%;
}
.footer a{
    padding: 30px;
}
span{
    font-size: 20px;
}
.ft-link{
    /* border: 1px solid rgb(140, 255, 0); */
    grid-column: 1 / 2;
    display: flex;
    justify-content:center;
}
.ft-sociaux{
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid rgb(140, 255, 0); */
}
.ft-legal-list{
    /* border: 1px solid rgb(140, 255, 0); */
    grid-column: 1 /-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width:1366px) {
    .menu{
        /* background-image: none; */
        /* border: 1px solid rgb(140, 255, 0); */
        background-image: url(../media/img/backgroundimg1280.png);
        background-repeat: repeat-y;
        background-size: contain;
    }
    /* .nosService .dashboard {
        display: flex;
    } */


}
@media screen and (max-width:1169px) {
    .menu{
        /* background-image: none; */
        background-image: url(../media/img/backgroundimg1000.png);
        background-repeat: repeat-y;
        background-size: contain;
    }
}

@media screen and (max-width:1000px) {
    .menu{
        background-image: none;
    }
    .logo{
        /* border: 1px solid rgb(255, 123, 0); */
        grid-column: 1 / -1;
        padding: 20px;
        margin-left: 10px;
        width: fit-content;

    }
    .logo img{
        width: 200px;
    }
    .item1 a{
        width: fit-content;
        padding: 0;
    }
    .nosService{
        /* border: 1px solid rgb(255, 123, 0); */
        grid-column: 1 / -1;
        margin: auto;
        margin-top: 30px;
        width: 95%;
        display: none;
    }
    .navBar{
        margin: auto;
    }
    .nosService ul{
        font-display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .dashboard{
        /* border: 1px solid rgb(255, 123, 0); */
        grid-column: 1 / -1;
        width: 95%;
        display: none;
    }
    .dashboard ul{
        font-display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    li{
        padding: 4vh;
    }
    /* .item2{
        width: fit-content;
    } */
    .item2{
        margin: 0;
        padding: 0;
    }
    .itemA, .itemB, .itemC, .itemD, .itemE{
        grid-column: 1 /-1;
        width: 100%;
    }
    .itemB{
        grid-row: 2 / 3;
    }
    .itemC{
        grid-row: 3 / 4;
    }
    .itemD{
        grid-row: 4 / 5;
    }
    .itemE{
        grid-row: 5 / 6;
    }
    textarea{
        width: 96%;
    }
    ::placeholder{
        font-size: 2vh;
    }
    .footer{
        width: 100%;
    }
    .ft-link, .ft-sociaux, .ft-legal-list{
        grid-column: 1 / -1;
    }
    .ft-sociaux{
        display: flex;
        flex-direction: column;
        /* border: 1px solid rgb(140, 255, 0); */
    }

    h1{
        font-size: 60px;
    }

}

@media screen and (max-width: 800px){
    .item1 img{
       width: 400px;
    }
    
}

@media screen and (max-width: 635px){
    h1{
        font-size: 40px;
        text-align: center;
        margin: auto;
    }    
}

@media screen and (max-width:521px) {
    .menu{
        /* border: 1px solid rgb(140, 255, 0); */
        background-image: none;
        width: 100%;
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        /* padding: 5px; */
    }
    .navBar{
        margin: 0;
        padding: 0;
    }
    .logo{
        /* border: 1px solid rgb(255, 123, 0); */
        grid-column: 1 / 2;
        padding: 20px;
        margin-left: 10px;
        width: fit-content;

    }
    .logo img{
        width: 200px;
    }
    .item1 a{
        width: fit-content;
        padding: 0;
    }
    .nosService{
        /* border: 1px solid rgb(255, 123, 0); */
        grid-column: 1 / -1;
        margin: auto;
        margin-top: 30px;
        width: 95%;
        display: none;
    }
    .navBar{
        margin: auto;
    }
    .nosService ul{
        font-display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .dashboard{
        /* border: 1px solid rgb(255, 123, 0); */
        grid-column: 1 / -1;
        width: 95%;
        display: none;
    }
    .dashboard ul{
        font-display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    li{
        padding: 4vh;
    }
    .navbar__link a:hover {
        padding-left: 50px;
        padding-right: 50px;    
    }
    .btn-burger{
        /* border: 1px solid rgb(255, 123, 0); */
        display: flex;
        /* align-content: flex-end; */
        grid-column: 8 / 9;
        /* float: right; */
        /* padding: 30px; */
        width: fit-content;
        margin: 0;

        /* background-color: none; */
    }
    button{
        background-color: rgb(33, 33, 33);
        /* background-color: none; */
    }
    .item2{
        margin: 0;
        padding: 0;
    }
    .itemA, .itemB, .itemC, .itemD, .itemE{
        grid-column: 1 /-1;
    }
    .itemB{
        grid-row: 2 / 3;
    }
    .itemC{
        grid-row: 3 / 4;
    }
    .itemD{
        grid-row: 4 / 5;
    }
    .itemE{
        grid-row: 5 / 6;
    }
    textarea{
        width: 93%;
    }
    label{
        text-align: center;
    }
    ::placeholder{
        font-size: 2vh;
    }
    .footer{
        width: 100%;
    }
    .ft-link, .ft-sociaux, .ft-legal-list{
        grid-column: 1 / -1;
    }
    .ft-sociaux{
        display: flex;
        flex-direction: column;
        /* border: 1px solid rgb(140, 255, 0); */
    }
    /* .btn-burger img{
        background-color: none;
    } */

    /* essai menu burger */
    /* .btn-burger{
        border: 1px solid rgb(255, 123, 0);
        display: block;
        background-color: none;
    }
    .btn-burger img{
        background-color: none;
    } */
    /* .nosService{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }    */
    /* .nosService.is-visible ul{
        display: flex;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
    }  */
    /* .dashboard{
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    } */
    /* .dashboard.is-visible ul{
        display: flex;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
    } */
}