@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(33, 33, 33);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: whitesmoke;
}

.menu nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    
}

.navbar__link a:hover {
    color: whitesmoke;
    background: rgb(0, 0, 0, 0.5);
    background-color:  rgb(218, 211, 211);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    border-radius: 10px;

}
.menu{
    background-image: url(../../../Splooshy/media/img/backgroundimg2.png);
    background-repeat: repeat-y;
    background-size: contain;
    width: 100%;
}

.navBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: 3vh;
    border-radius: 10px;
    border: 0;
    padding: 2vh;
    color: whitesmoke;
    overflow: hidden ;
}

.menu li, .dashboard li{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    text-align: center;

    padding-bottom: 20px;
}

.empty-horizon {
    height: 4px;
    background-color: rgb(243, 224, 224);
}

.logo img{
    width: 100%;
    padding-top: 30px;
}


.Name{
    font-size: 48px;
    font-family: 'Nosifer', cursive;
}

.Flavour{
    font-size: 40px;
}

.Price{
    color: #B30003;
    font-size: 40px;
    }

.Others{
    font-size: 24px;
}

.btn{
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2vh;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
    border: 0;
    padding: 1vh;
    color: whitesmoke;
    overflow: hidden ;
    text-align: center;
    margin-left: 25px;
    
}

.btn:hover{
    background-color:  rgb(33, 33, 33);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 100px;
    }

.main_container p{
    text-align: justify;
    padding: 30px;
}

.red img{
    display: block;
    width: 750px;
    margin-left: 100px;
}

.bottles img{
    width: 400px;

}

.main_container{
    margin-right: 100px;
    margin-bottom: auto;
}

p{
    text-align: center;
    padding: 10px;
}

#bouttonverhaut{
    float: right;
    
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    border-top: solid 4px white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    align-items: center;
}
.footer a{
    padding: 30px;
}
span{
    font-size: 20px;
}
.ft-sociaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.ft-link{
    display: flex;
    justify-content: space-around;
}
.ft-legal-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 1666px){
    .red img{
        width: 550px;
    }
}

@media screen and (max-width: 1400px){
    .red img{
        width: 550px;
        margin-left: auto;
    }

    .grid{
        flex-direction: column;
    }

    .main_container{
        margin-right: auto;
    }

    .Name{
        font-size: 28px;
    }
    
    .Flavour{
        font-size: 24px;
    }
    
    .Price{
        color: #B30003;
        font-size: 24px;
        }
    
    .Others{
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px){
    .grid{
       grid-template-columns: 1fr;
    }
    
    .red img{
        margin-left: auto;
        margin-right: auto;
    }

    .main_container{
        margin-left: auto;
        margin-right: auto;
    }

    .main_container p{
        text-align: center;
    }

    .btn{
        margin: auto;
    }

}

@media screen and (max-width: 800px){
    .red img{
       width: 400px;
    }   
}
