@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nosifer&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(33, 33, 33);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: whitesmoke;
}
body {
width: 100%;

}

nav ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    
}

.menu{
    /* border: 5px solid rgb(255, 0, 98); */
    background-image: url(../media/img/backgroundimg5.png);
    background-repeat: repeat-y;
    background-size: contain;
    /* width: 100%; */
}
.navBar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* grid-auto-rows: 40vw; */
    align-items: center;
    width: 100%;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: 3vh;
    border-radius: 10px;
    border: 0;
    padding: 2vh;
    color: whitesmoke;
    overflow: hidden ; */
}
.menu{
    /* border: 1px solid rgb(255, 0, 98); */
    background-image: url(../Splooshy/media/img/backgroundimg2.png);
    background-repeat: repeat-y;
    background-size: contain;
    width: 100%;
}
.logo{

    grid-column: 1 / 2;

}
.logo img{
    display: block;
    /* border: 1px solid rgb(0, 255, 106); */
    margin: auto;
}
.logo a{
    padding: 0;
}
.nosService{
    /* border: 1px solid rgb(212, 0, 255); */
    grid-column: 2 / 4;
}
.dashboard{
    /* border: 1px solid rgb(212, 0, 255); */
    grid-column: 4/ 5;
}
.btn-burger{
    /* border: 1px solid rgb(212, 0, 255); */
    grid-column: 4 / 5;
    display: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nosService ul{
    display: flex;
    justify-content: space-between;
}
.dashboard ul{
    display: flex;
    justify-content: space-evenly;
}
/* .miniScreen{
    display: flex;
    align-items: center;
}
.menu nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
} */
.navbar__link a:hover {
    color: whitesmoke;
    background: rgb(0, 0, 0, 0.5);
    background-color:  rgb(218, 211, 211);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
    border-radius: 10px;

}
.empty-horizon {
    height: 4px;
    background-color: rgb(243, 224, 224);
}

.btn-burger img {
    width: 5vh;
    /* display: none; */
}
.btn-burger{
    border: none;
    }
    .btn{
        /* border: 1px solid rgb(140, 255, 0); */
        grid-column: 1 /-1;
        outline: none;
        cursor: pointer;
        border: 0;
        padding: 2vh;
        /* height: fit-content;
        width: 100px; */
        /* color: whitesmoke; */
        overflow: hidden ;
        margin-bottom: 100px;
        text-align: center; 
    }
    .btn:hover{
        background-color:  rgb(33, 33, 33);
        transform: scale(1.2);
        transition: all .3s ease-in-out;
    }
    .btn input{
        text-align: center;
        padding: 2vh 6vh;
        font-size: 4vh;
        text-transform: uppercase;
        background-color: rgba(0,0,0, 0.5);
        color: whitesmoke;
    }

h1{
    font-family: 'Nosifer', cursive;
    text-align: center;
    font-size: 60px;
    padding: 100px;
}


.page-404{
    background-image: url(../Splooshy/media/img/backgroundimg.png);
    background-repeat: repeat-y;
    background-size: contain;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 30px;
}


.main_text p{
    text-align: justify;
    margin-right: 200px;
    margin-left: 200px;
}
/* .page-404{

        background-image: url(../Splooshy/media/img/backgroundimg.png);
        background-repeat: repeat-y;
        background-size: contain;
        width: 100%;

} */
.page-404 img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 110px;
    margin-top: 110px;
    width: 1050px;
}

p{
    text-align: center;
    padding: 10px;
}

#bouttonverhaut{
    float: right;
    
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    align-items: center;
}
.footer a{
    padding: 30px;
}
span{
    font-size: 20px;
}
.ft-sociaux{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.ft-link{
    display: flex;
    justify-content: space-around;
}
.ft-legal-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
